table {
  text-align: left;
}

tr {
 width: 60%; 
}

h1 {
  text-decoration: underline;
  font-weight: bold;
}

.light{
  background-color: #624E62;
  color: #FBB76E
}

.dark {
  background-color: #FC5975;
  color: #FBB76E
}

tr.light > td:hover{
  background-color: #935481;
  color: #fde7ce;
}

tr.dark > td:hover{
  background-color: #FC856B;
  color: #fde7ce;
}



/* Color Palette adapted from: http://www.colourlovers.com/palette/4406614/Saling_to_the_Sunset?widths=1 */